*{
	margin: 0px;
}
body{
	/*height: 5000px;*/
	background-color: #134845;
	font-family: 'Elsie', cursive;

}
/*///////////////////////// fonts color button ////////////////////*/
.sans-serif{
	font-family: sans-serif;
}
.white{
	color: white;
}
.green{
	color: #64A625;
}
.grey{
	color: #bababa;
}
.btn{
	font-size: 15px;
	font-weight: bold;
	padding: 18px 40px;
	border: none;
	border-radius: 50px;
	transition: 0.3s;
	background-color: #67AA25;
	color: white;	
}
.btn:hover{
	background-color: #017518;
}
/*/////////////////////////////////////////// color///////////////////////////////// */

/*////////////////////////////////////////// header start ////////////////////////////*/
header{
	width: 100%;
	padding: 10px 0px;
	background-color: #0E3D3B;
	/*padding: 5px 50px;*/
	font-family: sans-serif;
	position: sticky;
	top: 0px;
	z-index: 3;
}
#header{
	display: flex;
	justify-content: space-between;
	margin: 0px 50px;
}
.header_navbar{
	display: flex;
	align-items: center;
}
.header_menu ul{
	display: flex;
}
.header_menu li{
	list-style-type: none;
}
.header_menu li a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 20px;
	transition: 0.5s;
}
.header_menu li a:hover{
	color: #64A625;
}
.header_icon_btn{
	display: flex;
	align-items: center;
	
}
.header_icon_btn a{
	text-decoration: none;
	color: #64A625;
}
.header_icon_btn .icon{
	padding-right: 30px;
	font-size: 35px;
	color: white;
	transition: 0.5s;
}
.header_icon_btn .icon:hover{
	color: #bababa;
}
.header_icon_btn button{
	padding: 10px 30px;
	border-radius: 40px;
	transition: 0.5s;
}
.header_icon_btn button:hover{
	background-color: #bababa;
}

@media screen and (min-width: 320px) and (max-width: 480px){
body{
	height: auto;
	width: auto;
	overflow-x: hidden;
}
header{
	position: static;
}
#header{
	flex-direction: column;
	line-height: 2.5;
}
.header_navbar{
	flex-direction: column;
	margin-left: 1px;
}
.header_menu ul{
	flex-direction: column;
	text-align: center;
	margin-left: 0px;
	padding: 0px;
}
.header_menu ul li a{
	font-size: 20px;
}
.header_icon_btn{
	flex-direction: column;
	padding: 0px;	
}
.header_icon_btn .icon{
	padding: 0px;
}
.header_icon_btn button{
	width: auto;
	font-size: 12px;
	padding: 10px 50px;
	margin: 10px 0px;
}
}
/*/////////////////////////////////////// header end///////////////////////////////////// */


/*///////////////////////////////////////// footer start////////////////////////////////////*/
#footer{
	height: 55vh;
	width: 100%;
	background-image: url(images/footer.png);
	background-position: center;
	background-color: white;
}
.footer_container{
	height: 45vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	line-height: 2.5;	
}
.footer_div2{
	text-align: center;
}
.footer_div2 h1{
	font-family: 'Elsie', cursive;
	font-weight: normal;
	font-size: 45px;
	color: #134845;
}
.footer_div3 ul{
	list-style-type: none;
	text-align: right;
}
.footer_div3 ul a{
	color: #bababa;
	text-decoration: none;
}
.footer_div3 ul a:hover{
	color: #64A625;
	text-decoration: underline;
}
.footer_div3 ul i{
	color: #64A625;
	padding-left: 6px;
}
.footer_copyright_links{
	text-align: center;
	line-height: 2.5;
}
.footer_copyright_links a{
	color: #bababa;
	text-decoration: none;
}
.footer_copyright_links a:hover{
	text-decoration: underline;
	color: #64A625;
}
.footer_copyright{
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
}
.footer_copyright i{
	padding-top: 7px;
	padding-right: 5px;
}
.footer_links a{
	padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
#footer{
	height: 100vh;
	width: auto;
	background-size: cover;
	padding: 0px 20px;
	margin: auto;
	overflow-x: hidden;
	/*background-repeat: no-repeat;*/
}
.footer_container{
	height: 80vh;
	flex-direction: column;
	line-height: 1.5;
}
.footer_div1{
	align-self: flex-start;
	font-size: 13px;
}
.footer_div2 h1{
	font-size: 25px;
}
.footer_div2 p{
	font-size: 12px;
}
.footer_div3{
	align-self: flex-end;
	font-size: 13px;
}
.footer_copyright_links{
	line-height: 1.5;
	font-size: 13px;
}
}
/*//////////////////////////////////// footer end////////////////////////*/
